add: 'Přidat'
edit: 'Upravit'
delete: 'Smazat'
yes: 'Ano'
no: 'Ne'

save: 'Uložit'
save_next: 'Uložit a přidat další'
save_list: 'Uložit a vrátit na seznam'

confirm:
    delete: 'Opravdu chcete smazat tento záznam?'

flash:
    save_success: 'Úspěšně uloženo.'
