no_item_found_reset: 'No items found. You can reset the filter'
no_item_found: 'No items found.'
here: 'here'
items: 'Items'
all: 'all'
from: 'from'
reset_filter: 'Reset filter'
group_actions: 'Group actions'
show_all_columns: 'Show all columns'
hide_column: 'Hide column'
action: 'Action'
previous: 'Previous'
next: 'Next'
choose: 'Choose'
execute: 'Execute'
cancel: 'Cancel'
save: 'Save'
per_page_submit: 'Submit'
