.select2-container--default .select2-selection--single .select2-selection__rendered
{
    line-height: 21px;
}

.white-popup 
{
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}
