.select2-container .select2-selection
{
    height: 32px !important;
}

.white-popup 
{
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.icheckbox_square-red
{
    margin-right: 15px !important;
}
