services:
    - Nepttune\Model\Authenticator
    authenticator: @Nepttune\Authenticator

    breadcrumb:
        class: Nepttune\Component\Breadcrumb
    script:
        class: Nepttune\Component\Script
    style:
        class: Nepttune\Component\Style
