# override any default settings / register your services

includes:
    - x.neon

reCaptcha:
    siteKey: 'X'
    secretKey: 'X'

database:
    dsn: 'mysql:host=X;dbname=X'
    user: X
    password: 'X'

parameters:
    appName: Test
    appNameShort: TES

    configMenu:
        Menu:
            order:
                name: 'Objednávky'
                icon: comments
                dest: Order:default
            settings:
                name: 'Nastevení'
                icon: cog
                dest:
                    category:
                        name: 'Kategorie'
                        dest: Category:default
                    ingredient:
                        name: 'Ingredience'
                        dest: Ingredient:default

