includes:
    - component.neon
    - model.neon
    - sensitive.neon

application:
    catchExceptions: false

session:
    cookieSecure: false

http:
    csp:
        img-src: [ self, 'data:' ]
        style-src: [ self, https://fonts.googleapis.com/, unsafe-inline ]

parameters:
    appName: Restaurace
    appNameShort: RES
    appDescription: 'Nějaká restaurace'
    appKeywords: 'restaurant, food'

    userProfileDest: false   # false or dest
    signOutDest: :Admin:Sign:out

    configMenu:
        Menu:
            food:
                name: 'Jídla'
                icon: cutlery
                dest: Food:default
            dailyMenu:
                name: 'Denní menu'
                icon: calendar
                dest: DailyMenu:default
            order:
                name: 'Objednávky'
                icon: comments
                dest: Order:default
            recipe:
                name: 'Účtenky'
                icon: file-text
                dest: Recipe:default
            guest:
                name: 'Hosté'
                icon: users
                dest: Guest:default
            settings:
                name: 'Nastevení'
                icon: cog
                dest:
                    category:
                        name: 'Kategorie'
                        dest: Category:default
                    ingredient:
                        name: 'Ingredience'
                        dest: Ingredient:default
                    table:
                        name: 'Stoly'
                        dest: Table:default
                    user:
                        name: 'Uživatelé'
                        dest: User:default

