services:

- App\Model\CategoryModel
- App\Model\DailyMenuModel
- App\Model\FoodCategoryModel
- App\Model\FoodDailyMenuModel
- App\Model\FoodIngredientModel
- App\Model\FoodModel
- App\Model\FoodOrderModel
- App\Model\GuestModel
- App\Model\IngredientModel
- App\Model\OrderModel
- App\Model\RecipeModel
- App\Model\TableModel
