{*
 * This file is part of Nepttune (https://www.peldax.com)
 *
 * Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
 *
 * This software consists of voluntary contributions made by many individuals
 * and is licensed under the MIT license. For more information, see
 * <https://www.peldax.com>.
*}

<div class="{ifset #containerClass}{include #containerClass}{else}white-popup{/ifset}">
    <header>
        <h2>{include #title}</h2>
    </header>
    {include #content}
</div>
