<!DOCTYPE html>
{spaceless}
<html lang="{$presenter->translator->getLocale()}">
    <head>
        <title>{include #title} | {$appName}</title>
        <base href="{$baseUrl}" />
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="{$appDescription}" />
        <meta name="keywords" content="{$appKeywords}" />
        <meta name="author" content="{$appAuthor}" />
        <link rel="icon" type="image/x-icon" href="{$appFaviconIco}" sizes="48x48" />
        <link rel="icon" type="image/png" href="{$appFaviconPng}" sizes="48x48" />
        <link rel="apple-touch-icon" sizes="48x48" href="{$appFaviconPng}">

        {control style}
    </head>
    {ifset #bodyTag}
        {include #bodyTag}
    {else}
        <body>
    {/ifset}
        {ifset #bodyContent}
            {include #bodyContent}
        {else}
            {include #content}
        {/ifset}

        {control style:component}
        {control script}
    </body>
</html>
{/spaceless}
