{layout @core.latte}
{block #bodyContent}

<div class="white-popup">
    {include $presenter->getFlashArea()}
    <header>
        <h1>{include #title}</h1>
    </header>
    {include #content}
</div>
