*.htaccess

vendor/*
temp/*
log/*

.idea/*
nbproject/*

www/scss/*.css
www/js/*.min.js
www/image/logo*
www/image/favicon*
www/node_modules/*

app/config/core.neon
app/config/headers.neon
app/config/parameters.neon
app/config/local/sensitive.neon

composer.lock
package-lock.json
