www/node_modules/*
!www/node_modules/.htaccess

vendor/*
!vendor/.htaccess

temp/*
!temp/.htaccess

log/*
!log/.htaccess

.idea/*
nbproject/*

www/scss/*.css
www/js/*.min.js

app/config/local/sensitive.neon

composer.lock
package-lock.json
