# This file is part of Nepttune (https://www.peldax.com)
#
# Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
#
# This software consists of voluntary contributions made by many individuals
# and is licensed under the MIT license. For more information, see
# <https://www.peldax.com>.

includes:
    - database.neon
    - security.neon
    - services.neon
    - forms.neon
    - parameters.neon

extensions:
    redis: Kdyby\Redis\DI\RedisExtension
    rabbitmq: Kdyby\RabbitMq\DI\RabbitMqExtension
    elasticsearch: Kdyby\ElasticSearch\DI\SearchExtension
    mobileDetect: IPub\MobileDetect\DI\MobileDetectExtension
    console: Contributte\Console\DI\ConsoleExtension(true)
    translation: Kdyby\Translation\DI\TranslationExtension
    recaptcha: ReCaptchaControl\DI\Extension
    nextrasForm: Nextras\Forms\Bridges\NetteDI\FormsExtension
    dependentSelectBox: NasExt\Forms\DependentExtension

php:
    date.timezone: Europe/Prague

application:
    catchExceptions: true
    errorPresenter: 'Error'
    mapping:
        *: [ 'App', '*Module', 'Presenter\*Presenter' ]
    scanDirs:
        - '%appDir%/../vendor/nepttune/'

console:
    name: '%meta.name%'
    version: '%meta.version%'
    url: 'https://%domain%'
    lazy: true
