# This file is part of Nepttune (https://www.peldax.com)
#
# Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
#
# This software consists of voluntary contributions made by many individuals
# and is licensed under the MIT license. For more information, see
# <https://www.peldax.com>.

application:
    catchExceptions: false

http:
    csp:
        style-src: [ unsafe-inline ]
        img-src: [ 'data:' ]
        
parameters:
    domain: 'localhost.localhost'

database:
    default:
        dsn: 'mysql:host=mariadb;dbname=%sessionName%'
        user: 'root'
        password: 'example'

elasticsearch:
    host: 'elasticsearch'

redis:
    host: 'redis'

rabbitmq:
    connection:
        default:
            host: 'rabbitmq'
