# This file is part of Nepttune (https://www.peldax.com)
#
# Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
#
# This software consists of voluntary contributions made by many individuals
# and is licensed under the MIT license. For more information, see
# <https://www.peldax.com>.

parameters:
    domain: 'peldax.com'
    sessionName: 'peldaxcom'

    meta:
        name: 'peldax.com'
        nameShort: 'PLX'
        version: '1.0'
        description: 'peldax.com - personal multi-purpose webpage'
        keywords: 'personal, webpage, peldax, application'
        author: 'peldax.com'
        robots: 'index, follow'
        viewport: 'width=device-width, initial-scale=1, maximum-scale=2'
        color: '#ffffff'
        
    robots:
        all:
            name: '*'
            disallow:

    security:
        contact: 'peldax@info.com'
        acknowledgements: 'https://github.com/nepttune/nepttune/graphs/contributors'

    dest:
        homepage: ':Www:Default:default'
