# This file is part of Nepttune (https://www.peldax.com)
#
# Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
#
# This software consists of voluntary contributions made by many individuals
# and is licensed under the MIT license. For more information, see
# <https://www.peldax.com>.

services:
    routerFactory:
        class: Nepttune\RouterFactory
        arguments: 
            - %router%
    router: @routerFactory::createRouter

    - Nepttune\Model\ErrorLogTable
    - Nepttune\Model\CronLogTable
    - Nepttune\Model\SubscriptionTable
    - Nepttune\Model\PushNotificationModel(%vapid%)

    assetLoaderFactory:
        implement: Nepttune\Component\IAssetLoaderFactory
        arguments:
            - %assetLoader%
            - %meta.version%
            - %vapid.publicKey%
            - %googleApi.key%
    sitemapFactory:
        implement: Nepttune\Component\ISitemapFactory
        arguments:
            - '%sitemap%'
    robotsFactory:
        implement: Nepttune\Component\IRobotsFactory
        arguments:
            - '%robots%'
    securityFactory:
        implement: Nepttune\Component\ISecurityFactory
        arguments:
            - '%security%'

decorator:
    Nepttune\Presenter\BasePresenter:
        setup:
            - injectParameters(%meta%, %dest%)
    Nepttune\TI\ITranslator:
        setup:
            - injectTranslator

latte:
    macros:
        - Nepttune\Latte\IconMacro::install

translation:
    default: en
    whitelist: [en, cs, de, es, fr, ru]
    resolvers:
        session: off
        request: on
        header: off
    dirs:
        - '%appDir%/lang'
        - '%appDir%/../vendor/nepttune/nepttune/lang'
