# This file is part of Nepttune (https://www.peldax.com)
#
# Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
#
# This software consists of voluntary contributions made by many individuals
# and is licensed under the MIT license. For more information, see
# <https://www.peldax.com>.

column:
    active: 'Active'
    name: 'Name'
    description: 'Description'
