{*
 * This file is part of Nepttune (https://www.peldax.com)
 *
 * Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
 *
 * This software consists of voluntary contributions made by many individuals
 * and is licensed under the MIT license. For more information, see
 * <https://www.peldax.com>.
*}

{foreach $styles as $path}
    <link rel="stylesheet" type="text/css" crossorigin="anonymous" integrity="{$control->getIntegrity($path)}" href="{$path}" />
{/foreach}

{if $variables}
    <script n:nonce>const workerUrl = {plink :Tool:worker};</script>
{/if}

{foreach $scripts as $path}
    <script n:nonce type="text/javascript" crossorigin="anonymous" integrity="{$control->getIntegrity($path)}" src="{$path}"></script>
{/foreach}

{if $recaptcha}
    <script n:nonce async defer type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
{/if}
