<ol class="breadcrumb">
    <li>{icon angle-double-right}</li>

    {foreach $breadcrumbs as $action => $name}
        <li><a {if !$iterator->isLast()}href="{plink $action}"{/if}>{$name}</a></li>
    {/foreach}
</ol>
