<ul class="sidebar-menu" data-widget="tree">
{foreach $menu as $section => $entries}
    <li class="header">{$section}</li>
    {foreach $entries as $entry}
        {continueIf isset($entry['role']) && !$user->isInRole($entry['role'])}

        {if is_array($entry['dest'])}
            <li class="treeview">
                <a href="#">{icon $entry['icon']} <span>{$entry['name']}</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                {foreach $entry['dest'] as $subentry}
                    {continueIf isset($subentry['role']) && !$user->isInRole($subentry['role'])}

                    <li>
                        <a href="{plink $subentry['dest']}" n:class="isset($subentry['class']) ? $subentry['class']">
                            {$subentry['name']}
                        </a>
                    </li>
                {/foreach}
                </ul>
            </li>
        {else}
            <li n:class="$presenter->isLinkCurrent($entry['dest']) ? active">
                <a href="{plink $entry['dest']}" n:class="isset($entry['class']) ? $entry['class']">
                    {icon $entry['icon']} <span>{$entry['name']}</span>
                </a>
            </li>
        {/if}
    {/foreach}
{/foreach}
</ul>
